# Daemon mode determines if we log to stdout (false) or to a logfile (true).
DaemonMode = true

# Filename where we log output if DaemonMode is set to true
LogFilename = /var/log/K4AToFusion/AKLauncherDaemon.log

# Location of the lock file (used to prevent more than one instance of the code from running)
LockFilename = /var/lock/AKLauncherDaemon

# IP Address of the control panel to which we subscribe for events
ControlPanelIP = 192.168.101.250

# Port to which we subscribe on the control panel IP
EventPort = 14502

# Port to which we bind to publish status updates
StatusPort = 14501

# Working directory from which we will launch applications
WorkingDirectory = /home/peabody

# Directory that holds the factory calibration files
CalibrationDirectory = /home/peabody/K4AToFusion
ColorFactoryCalibFilename = /home/peabody/K4AToFusion/colorConfig00.txt
DepthFactoryCalibFilename = /home/peabody/K4AToFusion/depthConfig00.txt

# Regular expression-capable strings that we use when searching the process list for running applications
CaptureRegex = AzureKinectNanoToFusion /home/peabody/K4AToFusion/k4a_camera_config.txt 0
CalibrationRegex = AzureKinectNanoToFusion /home/peabody/K4AToFusion/k4a_camera_config.txt 1
BackgroundCaptureRegex = AzureKinectNanoToFusion /home/peabody/K4AToFusion/k4a_camera_config.txt 2

