<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ControlPanel" value="sfowers-mbot" />
    <!-- These are the ports connecting us to control panel (we subscribe).  We also create publishers on our own interface on these ports for the nanos to connect to -->
    <add key="ControlPanelEventPort" value="14520" />
    <add key="PublishEventPort" value="14502" />
    <!-- And the ports connecting us to the nanos -->
    <add key="NanoApplicationStatusPort" value="14502" />
    <add key="NanoDaemonStatusPort" value="14501" />
    <!-- The number of key=NanoN entries must equal the value of NanoCount! -->
    <add key="NanoCount" value="3" />
    <!-- We'll create ports that control panel can connect to starting with the following port numbers and incrementing 1 for each nano -->
    <add key="NanoDaemonStartingPort" value="14531" />
    <add key="NanoApplicationStartingPort" value="14571" />
    <!-- These are the nanos we're creating for fusion to connect to for each nano -->
    <add key="Nano0" value="nano-000" />
    <add key="Nano1" value="nano-001" />
    <add key="Nano2" value="nano-002" />
    <!-- Event Log Verbosity
    0 = Errors
    1 = Errors + Warnings
    2 = Errors + Warnings + Information
    -->
    <add key="EventLogVerbosity" value="2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>