*.sdf
*.user
*.cache
*.tlog
*.pdb
*.manifest
*.res
*.lastbuildstate
*.obj
x64/Release
*.rc
*.log
*.cd
*.jpg
*.jpeg
*.rar
*.deps
*.pch
config.ini

DeformableFusion.opensdf
ipch/utility-63c1af59/utility-2fb68183.ipch
ipch/fastnonrigidmatching-f3bae1f7/fastnonrigidmatching-96626017.ipch
ipch/fastnonrigidmatching-f3bae1f7/fastnonrigidmatching-d1c2765d.ipch
DeformableFusion.v12.suo
DeformableFusion.v12.suo
/DeformableFusion.v12.suo
ipch/basics-511beb3b/basics-f50901cb.ipch
FusionDemo-MultiView/packet_logs.txt
FusionDemo-MultiView/*.pkt
*.ipch
