<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ApplicationToRun" value="Fusion" />
    <!-- Which application should be allowed to run on this machine? (Fusion or Render) -->
    <add key="ControlPanel" value="192.168.101.250" />
    <!-- IP address of the control panel -->
    <add key="EventPort" value="14520" />
    <!-- this is the port on the control panel we subscribe to.  We listen for application start events on this port -->
    <add key="StatusPort" value="14511" />
    <!-- this is the port we will publish on.  Control panel will subscribe to this port to get application status updates -->
    <add key="ProcessRegex" value="LiveFusionDemo-Multiview" />
    <add key="CalibrationFilePath" value="C:\3DTelemedicine\DATA\FusionCalibration" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>